
Makefile
Makefile.in

.deps
.libs
.dirstamp
core

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

/config.h
/config.h.in
/config.guess
/config.log
/config.status
/config.sub
/libtool
/ltmain.sh
/stamp-h1


*.la
*.a
*.o
*.lo
*.so

test/test1
test/test2
test/test3
test/test4
