
Makefile
Makefile.in

.deps
.libs
.dirstamp
core

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

/config.h
/config.h.in
/config.guess
/config.log
/config.status
/config.sub
/libtool
/ltmain.sh
/stamp-h1


*.la
*.a
*.o
*.lo
*.so

doc/paxos++/
doc/qbk/autodoc.xml
doc/qbk/bin/
doc/qbk/html/

test/basic1
test/basic2
test/basic3
test/basic4
test/connection_close1
test/connection_close2
