
Makefile
Makefile.in

.deps
.libs
.dirstamp
core

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

/config.h
/config.h.in
/config.guess
/config.log
/config.status
/config.sub
/libtool
/ltmain.sh
/stamp-h1


*.la
*.a
*.o
*.lo
*.so

doc/autodoc.xml
doc/bin/
doc/html/
doc/images/
doc/xml/
doc/reference.tags
doc/reference.qbk

test/basic1
test/basic2
test/basic3
test/basic4
test/basic5
test/connection_close1
test/connection_close2
test/durability1
test/durability2